@import url('https://fonts.googleapis.com/css2?family=Lato&display=swap');


:root {
    --primary-colour: #202040;
}

* {
    margin: 0px;
}

body {
    font-family: 'Lato', sans-serif;
    background-image: url('../images/backimg.png');
}


.navbar {
    text-align: center;
    height: 98px;
    background-color: var(--primary-colour);
    margin-bottom: 2rem;
    color: white;
    border-bottom-left-radius: 1.5rem;
    border-top-right-radius: 1.5rem;
}


nav img{
    height: 3rem;
    width: 3rem;
}
nav div{
    padding-top: 1.3rem;
    font-size: xx-large;
    font-weight: bold;
}

#container {
    margin: auto;
    max-width: 600px;
}

textarea {
    display: block;
    min-height: 4rem;
    margin: auto;
    width: 90%;
    padding: 1rem;
    border: 2px solid var(--primary-colour);
    font-size: large;
    border-radius: 1rem;
    color: tomato;
}

button {
    display: block;
    margin: auto;
    margin-top: 2rem;
    border-radius: 2rem;
    border: 2px solid var(--primary-colour);
    background-color: #FF6363;
    height: 40px;
    width: 150px;
    font-weight: bolder;
    color: var(--primary-colour);

}


section p {
    display: block;
    width: fit-content;
    margin-left: 15px;
    font-weight: bold;
    margin-top: 2rem;
    color: white;
    padding: 0.4rem;
    background-color: var(--primary-colour);
    border-radius: 1rem;
    border: 2px solid #FF6363;
}

#div-output {
    margin: auto;
    width: 90%;
    height: 60px;
    border: 2px solid var(--primary-colour);
    border-radius: 1rem;
    padding: 1rem;
    margin-top: 0.6rem;
    color: var(--primary-colour);
    font-weight: bold;
    font-size: x-large;
}

footer {
    margin-top: 2rem;
    width: 100%;
    text-align: center;
    background-color: #FF6363;
    padding-bottom: 1rem;
    padding-top: 1rem;
    border-bottom-left-radius: 1.5rem;
    border-top-right-radius: 1.5rem;
    color: whitesmoke;
}


footer p {
    max-width: 900px;
    margin: auto;
    margin-top: 1rem;

}